@charset "utf-8";

/* header */

* {
  margin: 0 auto;
  padding: 0;
  font-family: "kiwi-maru", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
}


header {
  background-color: rgba(168, 104, 16, 0.508);
  padding: 240px 0;
}

header li {
  list-style: none;
  color: white;
  font-size: 24px;
  padding: 64px 0;
}

header a {
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: .3s;
}

header a:hover {
  transform: rotate(-10deg);
}

header ul {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-flow: column;
  padding-top: 32px;
  opacity: 0;
  transition: opacity .5s;
}

.hu.active {
  opacity: 1;
}

.first {
  font-size: 32px;
  color: white;
}


/* main */
.one {
  width: 100%;
  height: 320px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.45);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}

.hamburger span {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: relative;
  transition: ease .4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

.header__hamburger {
  width: 32px;
}

.header__nav.active {
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);

}

.hamburger.active span:nth-child(2) {
  opacity: 0;

}

.hamburger.active span:nth-child(3) {
  top: -15px;
  transform: rotate(-45deg);

}

.hamburger {
  background-color: transparent;
  border-color: transparent;
  margin-left: 100px;
  position: fixed;
  position: relative;
  top: 16px;
  right: 16px;
  z-index: 1000;
}

.third {
  width: 160px;
  height: 160px;
  position: absolute;
  right: -32px;
  bottom: 24px;
  animation: rotate_anime 8s linear infinite;
  z-index: 50;
}

@keyframes rotate_anime {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fourth {
  width: 160px;
  height: 160px;
  position: absolute;
  right: 88px;
  bottom: 104px;
  animation: rotate_anime2 8s linear infinite;
  z-index: 50;

}

@keyframes rotate_anime2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.fifth {
  width: 160px;
  height: 160px;
  position: absolute;
  right: -32px;
  bottom: 184px;
  animation: rotate_anime 8s linear infinite;
  z-index: 50;

}

@keyframes rotate_anime {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


h1 {
  text-align: center;
  margin-top: 64px;
  color: rgb(202, 120, 5);
  padding: 0.4rem 0;
  margin-bottom: 0.2rem;
  background-image: linear-gradient(90deg, #cf520e 0 20px, transparent 50px 60px, #88330c 0 60px);
  background-repeat: no-repeat;
  background-size: 16% 3px;
  background-position: bottom;
  font-weight: bold;
  font-size: 26px;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 32px 16px;
}

.contaner {
  position: relative;
  transition: transform 2s, z-index 2s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  margin: 0 auto;
  width: 70%;
}

.front {
  position: absolute;
  top: 0;
  transition: transform 2s, z-index 2s;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  display: block;
}

.back {
  position: absolute;
  top: 0;
  transition: transform 2s, z-index 2s;
  backface-visibility: hidden;
  display: block;
}

.front img {
  width: 100%;
  height: 100vh;
  padding: 0;
}

.back img {
  width: 100%;
  height: 100vh;
  padding: 0;
}


.contaner:hover .front {
  transform: rotateY(0deg);
}

.contaner:hover .back {
  transform: rotateY(180deg);
}


h2 {
  text-align: center;
  font-size: 32px;
  margin-top: 64px;
  color: rgb(202, 120, 5);
  padding: 0.4rem 0;
  margin-bottom: 0.2rem;
  background-image: linear-gradient(90deg, #cf520e 0 20px, transparent 50px 60px, #88330c 0 60px);
  background-repeat: no-repeat;
  background-size: 16% 3px;
  background-position: bottom;
  font-weight: bold;
  font-size: 26px;
}

.second {
  position: absolute;
  width: 72px;
  height: 72px;
  padding-left: 160px;
  padding-top: 64px;
}

.graphs {
  position: relative;
  padding: 32px 0;
  height: 72px;
  width: 70%;
  left: 72px;
  top: 32px;
  background-color: rgba(168, 105, 16, 0.322);
}

.graphs .graph1 {
  height: 34px;
  position: absolute;
  left: 0;
  right: 16px;
  top: 0;
  bottom: 0;
  background: rgb(202, 120, 5);
  width: 80%;
  border-radius: 0 4px 4px 0;
  margin-right: auto;
  margin: 0;
  margin-top: 56px;
}

.graphs .graph2 {
  height: 34px;
  position: absolute;
  left: 0;
  right: 16px;
  top: 0;
  bottom: 0;
  background: rgb(202, 120, 5);
  width: 70%;
  border-radius: 0 4px 4px 0;
  margin-right: auto;
  margin: 0;
  margin-top: 56px;
}

.graphs .graph3 {
  height: 34px;
  position: absolute;
  left: 0;
  right: 16px;
  top: 0;
  bottom: 0;
  background: rgb(202, 120, 5);
  width: 30%;
  border-radius: 0 4px 4px 0;
  margin-right: auto;
  margin: 0;
  margin-top: 56px;
}

.graphs .graph4 {
  height: 34px;
  position: absolute;
  left: 0;
  right: 16px;
  top: 0;
  bottom: 0;
  background: rgb(202, 120, 5);
  width: 40%;
  border-radius: 0 4px 4px 0;
  margin-right: auto;
  margin: 0;
  margin-top: 56px;
}

.ratio {
  position: absolute;
  right: 80px;
  top: 44px;
  font-size: 32px;
  color: rgb(130, 130, 130);
}


h3 {
  text-align: center;
  padding-top: 64px;
  font-size: 32px;
  margin-top: 64px;
  color: rgb(202, 120, 5);
  padding: 0.4rem 0;
  margin-bottom: 0.2rem;
  background-image: linear-gradient(90deg, #cf520e 0 20px, transparent 50px 60px, #88330c 0 60px);
  background-repeat: no-repeat;
  background-size: 16% 3px;
  background-position: bottom;
  font-weight: bold;
  font-size: 26px;
}


.productionall {
  width: 100%;
  padding: 0;
}

.productions {
  display: flex;
  width: 100%;
  color: #cf520e;
  font-size: 24px;
  flex-direction: column;
}

.productions2 {
  display: flex;
  width: 100%;
  padding: 0;
  flex-direction: row-reverse;
  flex-direction: column;
  color: #cf520e;
  font-size: 24px;
}

.productions img {
  display: block;
}

.productions img:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.productions2 img {
  display: block;
}

.productions2 img:hover {
  opacity: 0.5;
  transition: 0.3s;
}

h4 {
  text-align: center;
  padding-top: 64px;
  font-size: 32px;
  margin-top: 64px;
  color: rgb(202, 120, 5);
  padding: 0.4rem 0;
  margin-bottom: 0.2rem;
  background-image: linear-gradient(90deg, #cf520e 0 20px, transparent 50px 60px, #88330c 0 60px);
  background-repeat: no-repeat;
  background-size: 16% 3px;
  background-position: bottom;
  font-weight: bold;
  font-size: 26px;
}


/* footer */

footer {
  padding: 32px 0;
  background-color: rgba(168, 104, 16, 0.508);
}

.inquiry {
  color: white;
  text-decoration: none;
  text-align: center;
}

.end {
  display: flex;
  color: white;
  background-color: rgba(168, 104, 16, 0.508);
  border: 8px;
  width: 240px;
  height: 40px;
  padding: 16px 40px 16px 40px;
  border-radius: 16px;
  box-shadow: 0 5px 0 #7d1703;
  transition: .3s;
}

.end:hover {
  transform: translateY(5px);
  box-shadow: 0 0 0 #7d1703;
}