@charset "utf=8";

*{
  margin: 0;
  padding: 0;
}

header{
  background: linear-gradient(90deg,#e3d34a8b 0%,rgba(227, 170, 45, 0.738)50%,#d28839d4 100%);
  color: white;
  text-align: center;
  margin: 0;
}

.content{
  display: inline-block;
  padding: 4px 30px;
  font-size: 16px;
}

.first{
  height: 600px;
  width: 100%;
  opacity: 0.6;
}

.container{
  position: relative;
}

h2{
  font-weight: 24px;
  font-size: 28px;
}

img{
  object-fit: cover;
}

/* .square{
  background-color: rgba(252, 231, 163, 0.687);
  width: 384px;
  height: 72px;
  border-radius: 30px;
  position: absolute;
  top:100px;
  right: 10%;
  padding: 24px;
} */

.square{
  position: relative;
  margin: 2em 0 2em 40px;
  padding: 8px 15px;
  background: burlywood;
  border-radius: 30px;
  width: 520px;
}

.square:before{
  font-family: FontAwesome;
  content: "\f111";
  position: absolute;
  font-size: 16px;
  left: -40px;
  bottom: 0;
  top: 40px;
  color: antiquewhite;
}

.square:after{
  font-family: FontAwesome;
  content: "\f111";
  position: absolute;
  font-size: 32px;
  left: -23px;
  top: 16px;
  bottom: 0;
  color: rgb(255, 202, 132);
}



.third{
  height: 800px;
  overflow: hidden;
}

.second{
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.second:hover{
  transform:scale(1.2,1.2);
}


.explanations{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.explanations1{
  width: calc((100% - 24px) / 2);
  overflow: hidden;
}

.explanation .red{
  font-size: 30px;
  color: red;
}

.explanation .line{
  text-decoration: line-through;

}

p{
  font-size: 30px;
  font-weight: 50px;
}

button{
  background-color: rgba(250, 101, 52, 0.571);
  width: 120px;
  height: 40px;
  margin: 20px;
  border: 10px;
}

button:hover{
  background-color:rgba(249, 66, 42, 0.855);
}
